* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

nav {
    background-color: cadetblue;
    color: cornsilk;
    text-align: center;
    padding: 1rem;
    margin-bottom: 1rem;
}

#chat {
    width: 80%;
    height: 60vh;
    background-color: rgb(223, 223, 223);
    margin: auto;
}

#chat-window {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    
}

#name {
    width: 100%;
    padding: 1rem;
}
#message {
    width: 100%;
    padding: 1rem;
}
#send {
    width: 100%;
    padding: 0.8rem;
    background-color: cadetblue;
    color: cornsilk;
}

#output {
    padding: 1rem;
}

.chatbox {
    background-color: #fff;
    padding: 1rem;
    margin-bottom: 0.5rem;
    width: 70%;
}

.chat-name {
    color: blue;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}

.chat-msg {
    margin-left: 0.7rem;
}

.right {
    margin-left: auto;
}


#feedback {
    margin-left: 1rem;
    color: darkslategrey;
}