<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Home</title>
</head>
<body>
    <nav>
        <h1>Hpme</h1>
    </nav>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni placeat ea saepe id. Accusantium repellat sed possimus magni error consequatur explicabo est! Natus, illum molestiae sapiente harum atque inventore ex.</p>


</body>
</html>